@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

body {
  .cover {
    width: 100%;
    height: auto;

    img {
      width: 100%;
    }
    .menu {
      ul {
        text-align: center;
        height: auto;
        background-color: black;
        li {
          display: inline-block;
          padding: 0 1em;
          a {
            color: white;
            text-decoration: none;
            font-size: 0.8em;
            font-weight: 900;
          }
        }
      }
    }
    h1 {
      margin-top: 1em;
      text-align: center;
      font-size: 4em;
    }
    .payment {
      height: auto;

      display: flex;
      padding: 0.5em 1em;

      img {
        width: 100%;
        height: 70%;
        padding: 2%;
      }

      .cards,
      .bitcoin {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .services {
    height: auto;
    // display: flex;
    // flex-direction: column;

    .service-1,
    .service-2,
    .service-3,
    .service-4 {
      img {
        width: 100%;
      }
      p {
        margin: 1em;
      }
    }
  }
  h3 {
    margin-top: 2em;
  }
  .facilities {
    .facility-1,
    .facility-2,
    .facility-3,
    .facility-4 {
      img {
        max-height: 200px;
        width: 100%;
      }
    }
  }
  .food {
    // display: flex;
    // flex-direction: column;
    align-items: center;

    .food-1,
    .food-2 {
      img {
        margin: 2em;
        min-width: 200px;
        max-height: 200px;
      }
    }
  }

  .contact {
    .area1,
    .area2 {
    }
  }
}

@media screen and (min-width: 750px) {
  body {
  }
  h3 {
    font-size: 1.5em;
  }
  .cover {
    .menu {
      ul {
        text-align: center;
        li {
          a {
            font-size: 2em;
          }
        }
      }
    }

    .payment {
      height: 100vh;
      width: 100%;
      .cards,
      .bitcoin {
      }
    }
  }
  .services {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .service-1,
    .service-2,
    .service-3,
    .service-4 {
      margin: 0.5em;
    }
  }

  .facilities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .facility-1,
    .facility-2,
    .facility-3,
    .facility-4 {
      margin: 0.5em;
      img {
        height: 180px;
      }
    }
  }

  .food {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    .food-1,
    .food-2 {
      img {
        margin: 1.5em;
        min-width: 200px;
        max-height: 200px;
      }
    }
    .food-1 {
      grid-column: 2/3;
    }
    .food-2 {
      grid-template-columns: 3/4;
    }
  }
}
